{%load static%}

<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <title>YoursExpenses{%block title%}{%endblock%}</title>

    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'css/main.css'%}" rel="stylesheet">
    <link href="{%static 'css/authentication.css'%}" rel="stylesheet">
</head>

<body>

    <main class="col-md-9 ms-sm-auto mx-auto">
        <div class="col-md-6 mx-auto">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <script src="{%static 'js/register.js'%}"></script>
</body>

</html>